<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css?anything=stopcache14" />
    <title>Center for Court Innovation - Data Engineer Exercise</title>
  </head>
  <body>
      <div class="highlight">
          <h4>Center for Court Innovation - Data Engineer Exercise</h4>
          <p>As an extension to this exercise, I decided to set up a basic application that interacts with a backend PostgreSQL 
          database that contains this data. </p>
      </div>

      <hr>
      
      
      <div class="sqlscript">
          <p>First, I inserted this data into a SQL database using the following script:</p>
          <a href="/getscript"><button type="button" class="btn btn-secondary">Download SQL Script</button></a>
      </div>

      <p>Then, I was able to join the tables, by working with SQLalchemy, and displayed the output on a webpage. You'll notice that a few columns just contain ID numbers that relate to 
      other information in joined tables. With more time, I'd join this information in so the appropriate values 
      match exactly with the initial .csv file. </p>

      <hr>

      <h5>Extension to Question #2 - reading in data from SQL backend database</h5>

        <div class="fulldata">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>State Identifier</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Date of Birth</th>
                    <th>Case Number</th>
                    <th>Arrest Charge</th>
                    <th>Arraignment Date</th>
                    <th>Arrest Date</th>
                    <th>Court Appearance Date</th>
                    <th>Court Appearance Judge</th>
                    <th>Court Appearance Status</th>
                    <th>Court Appearance Attended Date</th>
                </tr>
                </thead>
                
                <tbody>
                {% for courtdata in data %}
                    <tr>
                        <td>{{ courtdata.Client.StateID }}</td>
                        <td>{{ courtdata.Client.FirstName }}</td>
                        <td>{{ courtdata.Client.LastName }}</td>
                        <td>{{ courtdata.Client.DateOfBirth }}</td>
                        <td>{{ courtdata.Case.CaseNumber}}</td>
                        <td>{{ courtdata.Case.ChargeID }}</td>
                        <td>{{ courtdata.Case.ArraignmentDate}}</td>
                        <td>{{ courtdata.Case.ArrestDate }}</td>
                        <td>{{ courtdata.Appearance.AppearanceDate }}</td>
                        <td>{{ courtdata.Appearance.JudgeID }}</td>
                        <td>{{ courtdata.Appearance.AttendanceStatusID }}</td>
                        <td>{{ courtdata.Appearance.AppearanceAttendedDate }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <hr>

    <div class="question3a">
        <h5>Extension to Question #3a - using the backend SQL database to calculate this data by pushing a button</h6>
        <a href="/get3acsv"><button type="button" class="btn btn-secondary">Download csv</btn></a>
    </div>

    <hr>

    <div class="question3b">
        <h5>Extension to Question #3b - using the backend SQL database to calculate this data by pushing a button</h6>
        <a href="/get3bcsv"><button type="button" class="btn btn-secondary">Download csv</btn></a>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>